<ion-header>
  <div class="background-container">  
    <h1>Shop</h1>
  </div>
</ion-header>

<ion-content>
<div class="containers">
  <div class="menu-content">
    <h2>Items Category _________</h2> <br>

    <div class="rows">

      <div class="col">
        <img src="../../assets/assets/portfolio-2.jpg" class="img-thumbnail">
        <h4>Items name</h4>
        <p>1000 FCFA.......</p>
        <ion-button>
          Add Cart
        </ion-button>
      </div>

      <div class="col">
        <img src="../../assets/assets/portfolio-6.jpg" class="img-thumbnail">
        <h4>Items name</h4>
        <p>2000 FCFA.......</p>
        <ion-button>
          Add Cart
        </ion-button>
      </div>

      <div class="col">
        <img src="../../assets/assets/portfolio-4.jpg" class="img-thumbnail">
        <h4>Items name</h4>
        <p>3000 FCFA.......</p>
        <ion-button>
          Add Cart
        </ion-button><br><br>
      </div>
    </div>
  </div>
  
</div>
</ion-content>
